* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --text-color: #666666;
  --washed-blue: #596eae;
  --red: #cc0000;
  --grey: #e9e9e9;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fafafa;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 2rem;
}

li,
p,
i {
  color: var(--text-color);
}

nav {
  padding: 2rem;
  background-color: #fff;
  width: 18%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

nav ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

nav ul li {
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  height: 30px;
  /* background: rgba(255, 0, 0, 0.164); */
  position: relative;
}

li.active,
li.active i {
  color: var(--washed-blue);
}

nav ul li:hover::after,
.active::after {
  content: "";
  background-color: var(--washed-blue);
  width: 6px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  left: -20px;
}

nav ul li i,
.logout i {
  font-size: 1.1rem;
}

.logo {
  width: 80%;
  color: var(--washed-blue);
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.logout {
  margin-top: 8rem;
  color: var(--red);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 30px;
  text-transform: capitalize;
  cursor: pointer;
}
.logout p,
.logout i {
  color: var(--red);
}

/* MAIN-CONTENT */
.main-content {
  margin-top: 2rem;
}
.search-bar {
  padding-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 35px;
  border-radius: 6px;
}

.search-bar input {
  background-color: transparent;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.search-bar input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
}

/* ------------------------------------ */

.top-details {
  display: flex;
  align-items: center;
}

.earnings {
  background-color: var(--washed-blue);
}

/* .earnings i {
  font-size: 2rem;
} */

.earnings p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 200;
}

.earnings p:nth-child(3) {
  font-size: 1.6rem;
}

.earnings i,
.earnings p {
  color: #fff;
}

.card {
  height: 183px;
  width: 250px;
  padding: 1rem;
  border-radius: 6px;
}

.projects {
  width: 250px;
}

.current-projects {
  background-color: #fff;
  font-size: 0.8rem;
}

.current-projects div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.current-projects > div:nth-child(1) p:nth-child(1) {
  text-transform: capitalize;
}

.current-projects > div:nth-child(1) p:nth-child(2) {
  font-size: 0.7rem;
}

.current-projects div:nth-child(1) p:nth-child(2) {
  color: var(--washed-blue);
}

.figma-container {
  background-color: var(--grey);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

.figma-logo {
  width: 10px;
}

.current-projects > p {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
}

.current-projects .progress p:nth-child(1) {
  text-transform: capitalize;
}

progress {
  /* RESETS */
  border-radius: 50px;
  width: 100%;
  height: 10px;
  /* margin: 0.6rem 0; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: var(--grey);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
  background-color: var(--grey);
  border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: var(--washed-blue);
  border-radius: 50px;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
  background-color: var(--washed-blue);
  border-radius: 50px;
}
/* --------------------- */

.span {
  background-color: var(--washed-blue);
  color: #fff;
  font-weight: 500;
  /* padding: .5rem; */
  width: 35px;
  height: 33px;
  font-size: 1.2rem;
  border-radius: 6px;
  display: grid;
  place-items: center;
}
