* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --text-color: #666666;
  --washed-blue: #596eae;
  --light-washed-blue: #5388d89c;
  --red: #cc0000;
  --grey: #e9e9e9;
}

html {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  /* gap: 2rem; */
}

li,
p,
i {
  color: var(--text-color);
}

nav {
  padding: 2rem;
  background-color: #fff;
  width: 15%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

nav ul {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.7rem;
}

nav ul li {
  width: 100%;
  cursor: pointer;
  list-style: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  height: 30px;
  /* background: rgba(255, 0, 0, 0.164); */
  position: relative;
}

li.active,
li.active i {
  color: var(--washed-blue);
}

nav ul li:hover::after,
.active::after {
  content: "";
  background-color: var(--washed-blue);
  width: 6px;
  height: 6px;
  border-radius: 50px;
  position: absolute;
  left: -20px;
}

nav ul li i,
.logout i {
  font-size: 1.1rem;
}

.logo {
  width: 80%;
  color: var(--washed-blue);
  margin-bottom: 2rem;
  font-size: 0.7rem;
}

.logout {
  margin-top: 8rem;
  color: var(--red);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 30px;
  text-transform: capitalize;
  cursor: pointer;
}
.logout p,
.logout i {
  color: var(--red);
}

/* MAIN-CONTENT */

.main-content {
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  width: 60%;
}

.search-bar {
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #fff;
  width: 300px;
  height: 35px;
  border-radius: 6px;
}

.search-bar input {
  background-color: transparent;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}

.search-bar input::placeholder {
  color: var(--text-color);
  font-size: 0.8rem;
}

/* ------------------------------------ */
.main-content-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 90px 90px auto;
  gap: 1rem;
}

.earnings {
  grid-row: span 2;
  background-color: var(--washed-blue);
}

.earnings svg {
  margin: 0.8rem 0rem;
}

.earnings p:nth-child(2) {
  margin: 0.5rem 0rem;
  font-size: 0.8rem;
  font-size: 16px;
  font-weight: 200;
}

.earnings p:nth-child(3) {
  font-size: 1.6rem;
  font-size: 30px;
}

.earnings i,
.earnings p {
  color: #fff;
}
.projects {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
  justify-content: space-between;
}

.project-comp {
  padding: 1rem;
  background-color: #fff;
}
.project-comp p {
  font-size: 0.8rem;
}

.card {
  padding: 1rem;
  border-radius: 6px;
}

.project-comp {
  border-radius: 6px;
}

.current-projects {
  background-color: #fff;
  font-size: 0.8rem;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-projects div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}

.current-projects > div:nth-child(1) p:nth-child(1) {
  text-transform: capitalize;
  /* font-size: 16px; */
}

.current-projects > div:nth-child(1) p:nth-child(2) {
  font-size: 0.7rem;
}

.current-projects div:nth-child(1) p:nth-child(2) {
  color: var(--light-washed-blue);
}

.figma-container {
  background-color: var(--grey);
  width: 30px;
  height: 30px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.6rem;
}

.figma-logo {
  width: 10px;
}

.current-projects > p {
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.6rem;
}

.current-projects .progress p:nth-child(1) {
  text-transform: capitalize;
  /* font-size: 16px; */
}

progress {
  /* RESETS */
  border-radius: 50px;
  width: 100%;
  height: 10px;
  /* margin: 0.6rem 0; */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: var(--grey);
}

/* WEBKIT BROWSERS - CHROME, OPERA AND SAFARI */
progress::-webkit-progress-bar {
  background-color: var(--grey);
  border-radius: 50px;
}

progress::-webkit-progress-value {
  background-color: var(--washed-blue);
  border-radius: 50px;
}

/* MOZILLA FIREFOX */
progress::-moz-progress-bar {
  background-color: var(--washed-blue);
  border-radius: 50px;
}
/* --------------------- */

.span {
  background-color: var(--washed-blue);
  color: #fff;
  font-weight: 500;
  /* padding: .5rem; */
  width: 35px;
  height: 33px;
  font-size: 1.2rem;
  border-radius: 6px;
  display: grid;
  place-items: center;
  margin-bottom: 0.5rem;
}

/* CHART SECTION */
.chart-section {
  grid-row: 3/4;
  grid-column: 1/-1;
  border-radius: 6px;
  padding: 1rem 1.5rem;
  background-color: #fff;
}

.chart-head,
.header,
.metrics {
  display: flex;
  align-items: center;
}
.chart-head {
  gap: 2rem;
  width: 100%;
  justify-content: space-between;
}
.chart-section > p {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

.chart-section p span {
  color: var(--light-washed-blue);
  font-weight: 600;
}
.header {
  width: 90%;
  justify-content: space-between;
}

.header h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
}

.periodics {
  width: 10%;
}

.metrics {
  /* align-self: flex-end; */
  gap: 2rem;
}
.metrics p {
  position: relative;
}

.metrics p::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50px;
  left: -15px;
  top: 25%;
  background-color: var(--washed-blue);
}

.metrics p:nth-child(2)::before {
  background-color: var(--light-washed-blue);
}

.chart-container {
  width: 100%;
  height: 38vh;
  position: relative;
}

/* ASIDE SECTION */

.side-content {
  width: 25%;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  overflow: auto;
}

.profile {
  align-self: flex-end;
  right: 2rem;
  display: flex;
  align-items: center;
}
.bell {
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 6px;
  position: relative;
}

.bell i {
  font-size: 1.2rem;
}

.bell i::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50px;
  background-color: var(--red);
  border: 2px solid #fff;
  top: 5px;
  right: 7px;
}
.profile-card {
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.profile-card img {
  width: 35px;
  height: 35px;
}

.profile-name p:nth-child(1) {
  font-weight: 500;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.profile-name p:nth-child(2) {
  font-size: 0.6rem;
  font-weight: 400;
  /* color: var(--text-color); */
}

.profile-name p i {
  font-size: 1rem;
}

.test-skills {
  width: 100%;
  padding: 1rem;
  border-radius: 6px;
  background-color: var(--washed-blue);
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}

.test-skills p {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

.test-skills img {
  width: 80px;
}

.test-skills button {
  border-radius: 6px;
  border: none;
  background-color: #fff;
  text-transform: capitalize;
  font-family: inherit;
  width: 120px;
  height: 35px;
  color: var(--washed-blue);
}

.top-jobs {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.top-jobs_header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-jobs_header p:nth-child(1) {
  font-weight: bold;
}

.top-jobs_header p:nth-child(2) {
  color: var(--light-washed-blue);
  font-size: 0.8rem;
}

.job {
  background-color: #fff;
  border-radius: 6px;
}
.job-title {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--text-color);
  padding: 0.8rem;
}
.job-title div {
  margin-left: 0.6rem;
}

.job-title div p:nth-child(1) {
  font-weight: 500;
}
.job-title div p:nth-child(2) {
  /* font-weight: 600; */
  font-size: 0.8rem;
}

.job-details {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
}

.job-details p {
  font-size: 0.8rem;
  color: #afafaf;
  margin-bottom: 0.8rem;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filters div {
  border-radius: 6px;
  background-color: var(--grey);
  width: max-content;
  height: 25px;
  padding-inline: 0.6rem;
  display: grid;
  place-items: center;
}
.filters div a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: var(--washed-blue);
}

/* .client-feedbacks {
} */

.client-feedbacks > p:nth-child(1) {
  /* color: red; */
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.feedback {
  padding: 0.8rem;
  background-color: #fff;
  border-radius: 6px;
}
.feedback > p:nth-child(2) {
  color: #afafaf;
  font-size: 0.8rem;
}

.feedback > p:nth-child(3) {
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--washed-blue);
}

.feedback > p:nth-child(3) i {
  color: var(--washed-blue);
}

.client,
.img {
  display: flex;
  align-items: center;
}

.client {
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.img img {
  width: 30px;
  margin-right: 0.5rem;
}
.name p:nth-child(1) {
  font-weight: 500;
  font-size: 1rem;
}
.name p:nth-child(2) {
  font-size: 0.8rem;
}

.rating {
  font-size: 0.8rem;
}
.rating p i {
  color: #f9d546;
}

.view-more {
  margin: 0 auto;
  width: max-content;
}
